name: Publish Package to npmjs
on: push
permissions:
  id-token: write  # Required for OIDC
  contents: read
jobs:
  build:
    if: github.repository_owner == 'myridia'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
     - name: Request OIDC token
       id: oidc-token
       uses: actions/github-script@v7
       with:
         script: |
          const token = await core.getIDToken();
          core.info(`OIDC token: ${token.substring(0,20)}...`);

     - name: checkout 
       uses: actions/checkout@v4
     - name: setup 
       uses: actions/setup-node@v4
       with:
         node-version: '24.x'            # Your node version
         registry-url: 'https://registry.npmjs.org'
         always-auth: true  

     - run: npm install --package-lock-only
     - run: npm ci
     - run: npm run build --if-present
     - run: npm publish --provenance --access public
  
